@import "global/variables";

.object-reg-container {
  display: flex;
  flex-direction: column;
  background-color: $text-primary-color;
  border-radius: 5px;
  padding: var(--indent);

  div {
    display: flex;
  }

  &_column {
    display: flex;
    flex-direction: column;
  }

  &_row {
    display: flex;
    flex-direction: row;
  }

  label {
    margin-right: var(--indent);
  }

  &__title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid $divider-color;

    &__h1 {
      font-size: 18px;
      font-weight: 600;
      margin-bottom: calc(var(--indent) / 2);
    }

    &__h2 {
      font-size: 14px;
      font-weight: 300;
      margin-bottom: calc(var(--indent) / 2);
    }
  }

  &__sub-title {
    margin-top: calc(var(--indent) / 2 );
    padding: calc(var(--indent) / 2 );
    border-bottom: 1px solid $divider-color;

    input {
      margin-right: var(--indent);
    }

    label {
      font-weight: 500;
    }

    &__item {
      height: fit-content;
      align-items: center;
      margin-bottom: var(--indent);
    }
  }
}